<div class="container">
    <%#= @card_ids %>
    
    <%= form_with url: self_selected_bingos_path, data: { turbo:false } do |form| %>
        <% i = 1 %>
        
        <% Constants.get_card_list.each do |card| %>
            
            <% if (i % 5) == 1 %>
                <ul class="list-group list-group-horizontal">
            <% end %>
                    <li class="list-group-item"> 
                        <% if @card_ids.include?(card) %>
                            <%= check_box_tag 'card_ids[]', card, true -%>
                            <%= h card -%>
                        <% else %>
                            <%= check_box_tag 'card_ids[]', card -%>
                            <%= h card -%>
                        <% end -%>
                    </li>
            <% if (i % 5) == 0 %>
                </ul>
            <% end -%>
            <% i += 1 %>
        <% end %>
        <%= form.submit "GO", class: "btn btn-primary" %>
    <% end %>

    <% if @card_ids.any? && @card_ids.length <= 25 %>
        <%= link_to image_tag(@path), @path, target: "_blank" %>
    <% else %>
        <%= image_tag("bingo.png") %>
    <% end %>
</div>
